# Virtual Environment
venv/
.venv/

# Environment Variables
.env

# Python
__pycache__/
*.pyc

# Chroma Database
chroma_db/

# Uploaded Files
uploads/

# OS Files
.DS_Store
Thumbs.db

# Next.js
frontend/.next/
frontend/node_modules/

data/